/* Hauptinhalt */
.rst-content {
    font-family: "cmbright", sans-serif;
    font-size: 16px;
}

/* Navigation */
.wy-side-nav-search {
    background-color: #2c3e50;  /* dunkelblauer Hintergrund */
}

.wy-side-nav-search input {
    font-family: "Courier New", monospace;
}

/* Links */
a {
    color: #e74c3c;
}

a:hover {
    color: #c0392b;
}

